{%- assign img_path = include.path | remove: ".jpg" | remove: ".jpeg" | remove: ".png" | remove: ".tiff" -%}

<!-- Code for SD Avatars -->
<script>
  const images = [
      { src: '/assets/img/avatars/bala_1.png', caption: 'Caption 1' },
      { src: '/assets/img/avatars/bala_2.png', caption: 'Caption 2' },
      { src: '/assets/img/avatars/bala_3.png', caption: 'Caption 3' },
  ];

  function showRandomImage(imgElement, captionElement) {
    const randomImage = images[Math.floor(Math.random() * images.length)];
    
    imgElement.src = randomImage.src;
    if (captionElement) {
        captionElement.textContent = randomImage.caption;
    }
}

function showFixedImage(imgElement, originalSrc) {
    imgElement.src = originalSrc;
}
</script>
<!-- End of code for SD avatars -->

<figure>

  <picture>
    {% if site.imagemagick.enabled %}
    {% for i in site.imagemagick.widths -%}
      <source
        class="responsive-img-srcset"
        media="(max-width: {{ i }}px)"
        srcset="{{ img_path | relative_url }}-{{ i }}.webp"
      />
    {% endfor -%}
    {% endif %}

    <!-- Fallback to the original file -->

    <img
      src="{% if include.cache_bust %}{{ include.path | relative_url | bust_file_cache }}{% else %}{{ include.path | relative_url }}{% endif %}"
      {% if include.class %}class="{{ include.class }}"{% endif %}
      {% if include.width %}width="{{ include.width }}"{% else %}width="auto"{% endif %}
      {% if include.height %}height="{{ include.height }}"{% else %}height="auto"{% endif %}
      {% if include.min-width %}min-width="{{ include.min-width }}"{% endif %}
      {% if include.min-height %}min-height="{{ include.min-height }}"{% endif %}
      {% if include.max-width %}max-width="{{ include.max-width }}"{% endif %}
      {% if include.max-height %}max-height="{{ include.max-height }}"{% endif %}
      {% if include.alt %}alt="{{ include.alt }}"{% endif %}
      {% if include.title %}title="{{ include.title }}"{% endif %}
      {% if include.zoomable %}data-zoomable{% endif %}
      {% if include.avatar %}
      onmouseover="showRandomImage(this, document.querySelector('.caption'))"
      onmouseout="showFixedImage(this, '{% if include.cache_bust %}{{ include.path | relative_url | bust_file_cache }}{% else %}{{ include.path | relative_url }}{% endif %}')"
      {% endif %}
      onerror="this.onerror=null; $('.responsive-img-srcset').remove();"
    />
    
    

  </picture>

  {%- if include.caption -%}<figcaption class="caption">{{ include.caption }}</figcaption>{%- endif %}

</figure>
